<div>
  <label for="board_title">Board Title</label>
  <input type="text" class="form-control" id="board_title" name="board_title" placeholder="First Day in NYC, Food List, Etc.">
</div>

<!-- APPLIED ONLY TO NEW/CREATE FORMS, NOT EDIT/UPDATE-->