<div>
  <div>
    <input type="radio" name="item_type" value="Activity" id="activity"> Activity  
    <br>
    <input type="radio" name="item_type" value="Food / Drink" id="food_drink"> Food / Drink
  </div>
  <div>
    Notes:<br>
    <textarea name="notes" ></textarea>
  </div>
  Time: <input type="time" name="time">
  Notes: <input type="text" name="notes">

</div>