<div>
  <div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="item_type" id="inlineRadio1" value="Food / Drink"> Food / Drink
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="item_type" id="inlineRadio2" value="Activity"> Activity
  </label>
</div>

  <div>
    Description:<br>
    <textarea name="description"></textarea>
  </div>
  
  <div>
    Time: <input type="time" name="time">
  <!-- Location: <input type="text" name="location"> -->
    Price: <input type="number" min="0.00" max="999999.99" step="any" name="price">
  </div>

</div>