<div>
  <label for="lodging_name">Lodging Name</label>
  <input type="text" class="form-control" id="lodging_name" name="lodging_name" placeholder="Airbnb, Hilton Hotel, etc.">
</div>
<div>
  <label for="checkin_date">From</label>
  <input type="date" class="form-control" id="checkin_date" name="checkin_date">
</div>
<div>
  <label for="checkout_date">To</label>
  <input type="date" class="form-control" id="checkout_date" name="checkout_date">
</div>
<div>
  <label for="notes">Notes</label>
  <textarea class="form-control" id="notes" name="notes" maxlength="500" placeholder="Confirmation No., Reminders, etc."></textarea>
</div>
<div>
  <label for="price">Price</label>
  <input ype="number" min="0.00" max="999999.99" step="any" class="form-control" id="price" name="price">
</div>

<!-- APPLIED ONLY TO NEW/CREATE FORMS, NOT EDIT/UPDATE-->