<div>
  <select id="transpo_type" class="custom-select" name="transpo_type">
    <option selected>Transportation Type</option>
    <option value="Flight">Flight</option>
    <option value="Car Rental">Car Rental</option>
    <option value="Rail">Rail</option>
    <option value="Ground Transportation">Ground Transportation</option>
    <option value="Ferry">Ferry</option>
    <option value="Cruise">Cruise</option>
    <option value="Other">Other</option>
  </select>
</div>
<div>
  <label for="transpo_name">Transportation Name</label>
  <input type="text" class="form-control" id="transpo_name" name="transpo_name" placeholder="Airline, Busline, etc.">
</div>
<div>
  <label for="depart_date">Departure Date</label>
  <input type="date" class="form-control" id="depart_date" name="depart_date">
</div>
<div>
  <label for="depart_time">Departure Time</label>
  <input type="time" class="form-control" id="depart_time" name="depart_time">
</div>
<div>
  <label for="notes">Notes</label>
  <textarea class="form-control" id="notes" name="notes" maxlength="500" placeholder="Confirmation No., Reminders, etc."></textarea>
</div>
<div>
  <label for="price">Price</label>
  <input ype="number" min="0.00" max="999999.99" step="any" class="form-control" id="price" name="price">
</div>

<!-- APPLIED ONLY TO NEW/CREATE FORMS, NOT EDIT/UPDATE-->