<div>
  <label for="trip_title">Trip Title</label>
  <input type="text" class="form-control" id="trip_title" name="trip_title" placeholder="New York, Destination Wedding, Etc.">
</div>
<div>
  <label for="start_date">From</label>
  <input type="date" class="form-control" id="start_date" name="start_date">
</div>
<div>
  <label for="end_date">To</label>
  <input type="date" class="form-control" id="end_date" name="end_date">
</div>