<div>
  Trip Title: <input type="text" name="trip_title" value="<%= @trip.trip_title %>">
</div>
<!-- <div>
  Location: <input type="text" name="address">
</div> -->
<div>
  From: <input type="date" name="start_date" value="<%= @trip.start_date %>">
</div>
<div>
  To: <input type="date" name="end_date" value="<%= @trip.end_date %>">
</div>