<!-- <div>
  Trip Title: <input type="text" name="trip_title" value="">
</div> -->
<!-- <div>
  Location: <input type="text" name="address">
</div> -->
<!-- <div>
  From: <input type="date" name="start_date" value="">
</div>
<div>
  To: <input type="date" name="end_date" value="">
</div>
 -->
<form>
  <div>
    <label for="trip_title">Trip Title</label>
    <input type="text" class="form-control" id="trip_title" placeholder="New York, Destination Wedding, Etc.">
  </div>
  <div>
    <label for="start_date">From</label>
    <input type="date" class="form-control" id="start_date" name="start_date">
  </div>
  <div>
    <label for="end_date">To</label>
    <input type="date" class="form-control" id="end_date" name="end_date">
  </div>
</form>