<h3>Add Trip</h3>

<%= form_tag "/trips", method: :post do  %>
  <div>
    Trip Title: <input type="text" name="trip_title">
  </div>
  <div>
    Location: <input type="text" name="address">
  </div>
  <div>
    From: <input type="date" name="start_date">
  </div>
  <div>
    To: <input type="date" name="end_date">
  </div>
  <input type="submit" value="Create">
<% end %>

<!-- DON'T FORGET to add CANCEL button which redirects to Trips Index -->

