<section id="hero">
  <div class="fs-hero hero-img" style="background-image:url(/assets/images/travel.jpg)">
      <div class="hero-caption text-white center-left">
          <h1 class="ls-2">TARAVEL</h1>
          <h3 class="font-weight-light">Start Your Journey, Save Ideas</h3>
          <!-- <h4 class="mrg-top-20">Save Ideas</h4> -->
          <!-- <div class="mrg-top-20">
              <a href="#" class="btn btn-white-inverse btn-md">Read More</a>
          </div> --><!-- margin -->
      </div>
  </div><!-- /hero-img -->
</section>