<!-- Hero Start -->
<section id="hero">
    <div class="fs-hero hero-img" style="background-image:url(/assets/images/travel.jpg)">
        <div class="hero-caption text-white center-left">
            <h1 class="ls-2 font-weight-heavy">TARAVEL</h1>
            <h3 class="mrg-top-20 font-weight-light">Start Your Journey, Save Ideas</h3>
            <div class="mrg-top-30">
                <a href class="btn btn-theme btn-md mrg-right-15">Create Account</a>
                <a href class="btn btn-white-inverse btn-md">Read More</a>
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->

<!-- CTA Start -->
<section class="section-1 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="stack-object-1">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <img class="object-1 img-responsive" src="assets/images/img-4.png" alt="" data-parallax='{"y": -30}'>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img class="object-2 img-responsive" src="assets/images/img-5.png" alt="" data-parallax='{"y": 30}'>
            </div>
          </div>
        </div><!-- /stacked-img -->
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h2 class="heading-1 left mrg-top-120"><span class="theme-color">Mobile</span> Version Available</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.</p>
        <div class="mrg-top-40">
          <a href="javascript:void(0);" class="mrg-right-10">
            <img src="assets/images/thumb/android.png" alt="">
          </a>
          <a href="javascript:void(0);">
            <img src="assets/images/thumb/apple.png" alt="">
          </a>
        </div>
      </div><!-- column -->
    </div>
  </div>
</section>
<!-- CTA End -->

<!-- Subscribe Start -->
<section class="section-2 bg-gray">
  <div class="container">
      <div class="text-center">
          <p class="theme-color"><b>Stay In Touch</b></p>
            <h2 class="no-mrg-top">Connect with Us</h2>
            <p class="width-50 mrg-horizon-auto mrg-top-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
            <div class="form-group mrg-top-30">  
              <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                        <div class="icon-input">           
                            <input type="email" class="form-control width-75" placeholder="Your mail here">
                            <i class="ei ei-email"></i>
                            <a href="" class="btn btn-theme btn-md inline-submit" >Subcribe</a>
                        </div>                           
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
<!-- Subscribe End -->

<div class="footer-bottom">
    <div class="container">
        <span class="copyright"><img class="pdd-right-10" src="" alt="Taravel"> Copyright © 2017 Kathleen Domingo.</span>    
    </div>
</div>

