@import "bootstrap";

.navbar li {
  margin-right: 10px;
}

#index-page {
  margin: 50px;
}

#show-page {
  margin: 50px;
}

.card {
  margin: 10px;
}

.panel {
  border-color: #dcdcdc !important;
}

#user-col {
  width: 600px;
  margin: 20px;
  float: left;
}

.user-form {
  margin: 20px;
}


#board-col {
  width: 300px;
  height: 400px;
  overflow-y: scroll;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}

#trash {
  color:rgb(209, 91, 71);
}

#item-each {
  text-align: left;
}