@import "bootstrap";

#index-page {
  margin: 50px;
}

#show-page {
  margin: 50px;
}

.card {
  margin: 10px;
}

.panel {
  border-color: #dcdcdc !important;
}

#board-col {
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}

#trash {
  color:rgb(209, 91, 71);
}

#item-each {
  text-align: left;
}